.footer-container {
  /* height: 17.8%; */
  width: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
}

.home-footer-section {
  width: 100%;
  height: 100%;
  max-width: 120rem;
}

.home-footer-section img {
  max-width: 100%;
  height: 8.125rem;
}

/* iPad pro */
@media only screen and (max-width: 69.375rem) {
  .footer-container {
    display: none;
  }
  .home-footer-section {
    display: flex;
    align-items: flex-end;
  }
}
