.resume-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  min-height: fit-content;
  margin: auto;
  width: 70%;
  margin-top: 6.25rem;
}

.resume-card {
  display: flex;
  height: 25rem;
  background-color: #ffffff;
  border: 0.313rem solid var(--highlighted-blue);
  border-left: 0;
  mask: radial-gradient(2.5rem at 2.5rem 2.5rem, #0000 98%, #000) -2.5rem -2.5rem;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='100' viewBox='0 0 100 100'%3E%3Cg stroke='%23CCC' stroke-width='0' %3E%3Crect fill='%23F5F5F5' x='-60' y='-60' width='110' height='240'/%3E%3C/g%3E%3C/svg%3E");
}

.resume-bullets {
  height: 100%;
  box-shadow: 0.938rem 0 0.563rem -0.938rem var(--dark-grey);
  width: 20rem;
}

.resume-bullet-details {
  flex-grow: 1;
  width: 37.5rem;
  overflow: hidden;
  padding: 0 0 0 5rem;
}

.resume-description-text {
  font-size: 0.75rem;
}

.bullet-container {
  display: flex;
  align-items: center;
  height: 100%;
  width: 100%;
  position: relative;
}

.bullets {
  width: 86%;
  position: relative;
  z-index: 2;
}

.bullet {
  display: flex;
  align-items: center;
  /* cursor: pointer; */
  background-color: var(--secondary-blue);
  height: 2.5rem;
  margin: 0.938rem 0;
  padding: 0 0.5rem;
  border-radius: 1.25rem;
  width: 1.875rem;
  transition: width 0.6s ease;
}

.bullet-label {
  font-size: 0.875rem;
  white-space: nowrap;
  font-family: "Poppins SemiBold";
}

.bullet-logo {
  height: 1rem;
  margin: 0 1.875rem 0 0;
}

.bullet-icons {
  width: 2.125rem;
  height: 100%;
  z-index: 1;
  background-color: var(--secondary-blue);
  position: absolute;
}

.selected-bullet {
  color: var(--white);
  width: 100%;
}

.resume-heading {
  display: flex;
  flex-direction: column;
}

.heading-bullet {
  display: inline-block;
  width: 0.75rem;
  height: 0.75rem;
  --g: /41.422% 41.422% radial-gradient(#000 calc(71% - 0.063rem), #0000 71%) no-repeat;
  mask: 100% 50% var(--g), 50% 100% var(--g), 0% 50% var(--g), 50% 0% var(--g),
    radial-gradient(100% 100%, #000 20.711%, #0000 calc(20.711% + 0.063rem));
  /* background: var(--highlighted-blue); */
  background: var(--black);
  margin-right: 0.313rem;
}

.skill-parent {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 50%;
}

.skill-parent span {
  font-family: "Poppins Bold";
  font-size: 1rem;
  color: var(--secondary-blue);
}
.resume-bullets-details {
  width: 100%;
}
.resume-content {
  width: 100%;
}

/* IPAD PRO RESPONSIVENESS */
@media only screen and (max-width: 69.375rem) {
  .resume-bullet-details {
    padding: 0 0 0 4.375rem;
  }
}

/* IPAD RESPONSIVENESS */
@media only screen and (max-width: 63.938rem) {
  .resume-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  .bullets {
    width: 90%;
  }

  .resume-card {
    height: fit-content;
    display: flex;
    flex-direction: column;
    margin: 1.875rem 0;
    align-items: center;
    border: 0;
  }

  .resume-bullet-details {
    height: 25rem;
    padding: 0;
    width: fit-content;
  }

  .resume-bullets {
    margin: 1.875rem 0;
    width: 100%;
  }

  .selected-bullet {
    width: 100%;
  }
}

@media only screen and (max-width: 64rem) {
  .resume-bullets {
    width: 20.625rem;
  }
}
